.saved-videos-main-container {
  display: flex;
  min-height: 100vh;
}
.saved-heading {
  font-family: 'Roboto';
  font-size: 24px;
}

.no-saved-view-image {
  height: 300px;
  width: 300px;
}

@media screen and (min-width: 768px) {
  .no-saved-view-image {
    height: 500px;
    width: 500px;
  }
}
.saved-videos-container {
  display: flex;
  flex-direction: column;
}
