.header-container {
  display: flex;
  justify-content: space-between;
}

.website-logo {
  display: flex;
  width: 200px;
}
.profile-image {
  width: 50px;
}
.header-right-container {
  display: flex;
  align-items: center;
}

.theme-change-button {
  margin: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
}

.logout-button {
  border: 1px solid #4f46e5;
  background-color: transparent;
  color: #3b82f6;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Roboto';
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
}

.dark-bg {
  background-color: #000000;
}

.light-bg {
  background-color: #ffffff;
}
.pop-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #424242;
  color: #ebebeb;
  padding: 20px;
}

.buttons-container {
  display: flex;
  align-items: center;
}
.cancel-button {
  background-color: transparent;
  color: #ebebeb;
  cursor: pointer;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  margin-right: 6px;
}

.confirm-button {
  background-color: #3b82f6;
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  color: #f4f4f4;
}
